*.pyc
__pycache__/
venv/
*.vim
*.logs
asp_materials/
gerobust.egg-info/
dist/
.cache/
*.so
*.egg-info/
build
gerobust/geolib_wrap.c
gerobust/wrapped_geolib.py
gerobust/_wrapped_geolib.c
gerobust/_wrapped_geolib.o

